<%= turbo_frame_tag "weather_data" do %>

  <% if flash[:alert] %>
    <div class="alert alert-warning mt-4 text-center">
      <%= flash[:alert] %>
    </div>
  <% end %>

  
  <% if @weather_data.present? && @weather_data["location"].present? && @weather_data["current"].present? %>
    <div class="card mt-4 shadow-lg">
      <div class="card-body">
        <h2 class="card-title text-center">Weather Details for <%= @weather_data["location"]["name"] %>, <%= @weather_data["location"]["region"] %></h2>
        
        <table class="table table-bordered mt-3">
          <thead class="thead-light">
            <tr>
              <th>Weather Metric</th>
              <th>Reading</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Temperature</td>
              <td><%= format_temperature(@weather_data["current"]["temp_c"], @weather_data["current"]["temp_f"]) %></td>
            </tr>
            <tr>
              <td>Condition</td>
              <td><%= @weather_data["current"]["condition"]["text"] %></td>
            </tr>
            <tr>
              <td>Humidity</td>
              <td><%= @weather_data["current"]["humidity"] %>%</td>
            </tr>
            <tr>
              <td>Wind Speed</td>
              <td><%= @weather_data["current"]["wind_kph"] %> kph</td>
            </tr>
          </tbody>
        </table>

        <%= render partial: 'weather/forecast_data' %>

        <%= "Data Source : "%> <%= weather_data_source(@weather_data["from_cache"]) %>

        <div class="text-center">
          <%= link_to "Close Details", root_path, class: "btn btn-outline-primary" %>
        </div>
      </div>
    </div>
  <% elsif params[:city].present? %>
    <div class="alert alert-warning mt-4 text-center">
      No data found for "<%= params[:city] %>". Please try again.
    </div>
  <% end %>
<% end %>